<footer class="page-footer footer-tiles center-on-small-only success-color-dark  pt-4">
	<div class="container mb-5 mt-5">
		<div class="row">
			<div class="col-xl-4 col-lg-4 pt-1 pb-1 wow fadeIn" data-wow-delay="0.3s">
				<h5 class="title mb-3">
					<strong>ABOUT RESTAURANT</strong>
				</h5>
				<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
					atque corrupti.</p>
				<p class=""> Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint.</p>
				<div class="footer-socials">
					<a type="button" class="btn-floating rgba-white-slight">
						<i class="fa fa-facebook"></i>
					</a>
					<a type="button" class="btn-floating rgba-white-slight">
						<i class="fa fa-dribbble"></i>
					</a>
					<a type="button" class="btn-floating rgba-white-slight">
						<i class="fa fa-twitter"></i>
					</a>
					<a type="button" class="btn-floating rgba-white-slight">
						<i class="fa fa-google-plus"></i>
					</a>
				</div>
			</div>
			<hr class="w-100 clearfix d-md-none">
			<div class="col-xl-3 ml-xl-auto col-lg-4 col-md-6 pt-1 pb-1 wow fadeIn" data-wow-delay="0.3s">
				<h5 class="title">
					<strong>Search something</strong>
				</h5>
				<ul class="footer-search">
					<li>
						<form class="search-form" role="search">
							<div class="form-group waves-light waves-effect waves-light">
								<input type="text" class="form-control" placeholder="Search">
							</div>
						</form>
					</li>
				</ul>
				<p>
					<i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
				<p>
					<i class="fa fa-envelope mr-3"></i> info@example.com</p>
				<p>
					<i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
				<p>
					<i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
			</div>
			<hr class="w-100 clearfix d-md-none">
			<div class="text-center ml-xl-auto col-xl-3 col-lg-4 col-md-6 pt-1 pb-1 wow fadeIn" data-wow-delay="0.3s">
				<h5 class="title mb-3">
					<strong>Opening hours</strong>
				</h5>
				<table class="table">
					<tbody>
					<tr>
						<td>Mon - Thu:</td>
						<td>8am - 9pm</td>
					</tr>
					<tr>
						<td>Fri - Sat:</td>
						<td>8am - 1am</td>
					</tr>
					<tr>
						<td>Sunday:</td>
						<td>9am - 10pm</td>
					</tr>
					</tbody>
				</table>
				<a class="btn btn-rounded rgba-white-slight" data-toggle="modal" data-target="#modal-reservation">Book a table</a>
			</div>
		</div>
	</div>
	<div class="footer-copyright wow fadeIn" data-wow-delay="0.3s">
		<div class="container-fluid">
			© 2017 Copyright:
			<a href="https://www.MDBootstrap.com" rel="nofollow"> MDBootstrap.com </a>
		</div>
	</div>
</footer>
		<script type="text/javascript" src="../../assets/MDB/js/jquery-3.2.1.min.js"></script>
		
		<script type="text/javascript" src="../../assets/MDB/js/popper.min.js"></script>
		
		<script type="text/javascript" src="../../assets/MDB/js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="../../assets/MDB/js/mdb.min.js"></script>
		<script>
			//Animation init
			new WOW().init();
			// Material Select Initialization
			$(document).ready(function () {
				$('.mdb-select').material_select();
			});
		</script>
		<script>
			$(function () {
				var selectedClass = "";
				$(".filter").click(function () {
					selectedClass = $(this).attr("data-rel");
					$("#gallery").fadeTo(100, 0.1);
					$("#gallery div").not("." + selectedClass).fadeOut().removeClass('animation');
					setTimeout(function () {
						$("." + selectedClass).fadeIn().addClass('animation');
						$("#gallery").fadeTo(300, 1);
					}, 300);
				});
			});
		</script>
	</body>
</html>