#backgroundHeader {
    background-image: url('../images/backgroundHeader.jpeg');
    background-size: cover;
}

#map {
    height: 70%;
}

.map-section {
    height: 700px;
    padding-bottom: 10%;

}

.adminEdition {
    border: 2px dotted #f2f2f2;
    padding: 10px;
    border-radius: 5px;
}

