#backgroundHeader {
    background-image: url('../images/backgroundHeader.jpeg');
    background-size: cover;
}

#map {
    height: 70%;
}

.map-section {
    height: 700px;
    padding-bottom: 10%;

}

