<!DOCTYPE html>
<html>
	<head>
		<title>{{ trans.metaTitle }} | Veg'N'Bio</title>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		{% block stylesheet %}{% endblock %}
	</head>
	<body>
