{% include '_partials/head.twig' %}

{% block header %}{% include '_partials/header.twig' %}{% endblock %}

{% block content %}{% endblock %}

{% include '_partials/footer.twig' %}

{% block javascript %}{% endblock %}

	</body>
</html>