{% include '_partials/head.twig' %}

{% block header %}{% include '_partials/header.twig' %}{% endblock %}

{% block content %}{% endblock %}

{% block footer %}{% include '_partials/footer.twig' %}{% endblock %}

{% block script %}{% include '_partials/script.twig' %}{% endblock %}

{% block sidenav %}{% include '_partials/sidenav.twig' %}{% endblock %}

{% block javascript %}{% endblock %}

	</body>
</html>