{% extends 'base.twig' %}

{% block content %}
	<main>
		<div class="container">
			<section class="section mt-5 feature-box" id="features">
				<h1 class="text-center font-bold mt-5 pt-5 mb-3 drk-grey-text wow fadeIn" data-wow-delay="0.2s">
					<em>Welcome to our cafe</em>
				</h1>
				<p class="text-center font-up grey-text font-bold mb-5 pb-4 wow fadeIn" data-wow-delay="0.2s">We serve the best coffee</p>
				<div class="row wow fadeIn" data-wow-delay="0.4s">
					<div class="col-md-4">
						<div class="row text-center pb-5">
							<div class="col-md-12">
								<i class="fa fa-home fa-3x brown-text pb-3"></i>
								<h4 class="feature-title">100% Natural</h4>
								<p class="grey-text">Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
							</div>
						</div>
						<div class="row text-center pb-5">
							<div class="col-md-12">
								<i class="fa fa-umbrella fa-3x brown-text pb-3"></i>
								<h4 class="feature-title">Always fresh</h4>
								<p class="grey-text">Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 pb-3 flex-center">
						<img src="../assets/images/burgerVeggan.jpg" alt="" class="z-depth-0 img-fluid adminEdition">
					</div>
					<div class="col-md-4">
						<div class="row text-center pb-5">
							<div class="col-md-12">
								<i class="fa fa-users fa-3x brown-text pb-3"></i>
								<h4 class="feature-title">Organic products</h4>
								<p class="grey-text">Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
							</div>
						</div>
						<div class="row text-center pb-5">
							<div class="col-md-12">
								<i class="fa fa-dashboard fa-3x brown-text pb-3"></i>
								<h4 class="feature-title">Best Quality</h4>
								<p class="grey-text">Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
							</div>
						</div>
					</div>
				</div>
			</section>
			<hr class="wow fadeIn" data-wow-delay="0.4s">
			<section class="section about mb-5 pb-5" id="about">
				<h1 class="text-center font-bold mt-5 pt-5 mb-3 drk-grey-text wow fadeIn" data-wow-delay="0.2s">
					<em>About us</em>
				</h1>
				<p class="text-center font-up font-bold grey-text mb-5 pb-4 wow fadeIn" data-wow-delay="0.2s">With love to nature</p>
				<div class="row">
					<div class="col-xl-5 mr-auto col-lg-6 wow fadeIn" data-wow-delay="0.4s">
						<img src="../assets/images/salleRestaurant.jpg" class="img-fluid rounded z-depth-1-half adminEdition"
							 alt="My photo">
					</div>
					<div class="col-xl-6 col-lg-6 pb-3 wow fadeIn" data-wow-delay="0.4s">
						<p class="adminEdition" align="justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque animi maxime.</p>

						<p class="adminEdition" align="justify">Nemo animi soluta ratione quisquam, dicta ab cupiditate iure eaque? Repellendus voluptatum, magni impedit eaque delectus, beatae maxime temporibus maiores quibusdam quasi rem magnam.</p>

						<ul>
							<li>Nemo animi soluta ratione</li>
							<li>Beatae maxime temporibus</li>
							<li>Consectetur adipisicing elit</li>
						</ul>
					</div>
				</div>
			</section>
		</div>
		<div class="streak streak-photo streak-md hm-black-strong-1" style="background-image: url('../assets/images/banniereLegumes.jpg');">
			<div class="mask pattern-1 flex-center">
				<div class="text-center text-white wow fadeIn" data-wow-delay="0.4s">
					<h2 class="font-bold mb-3 pt-4 mt-4">We are opening a new cafe in New York!</h2>
					<p class="font-bold grey-text">Friday 17/10/2018, 8:00 am</p>
					<div class="row mt-5 mb-5">
						<div class="col-lg-4 col-md-4">
							<hr class="white mx-5">
							<h1 class="display-4 font-bold white-text">
								<strong>20</strong>
							</h1>
							<hr class="white mx-5">
							<p class="font-bold spacing">DAYS</p>
						</div>
						<div class="col-lg-4 col-md-4">
							<h1 class="display-4 font-bold white-text rgba-white-light mx-4 py-3 mt-3">
								<strong>12</strong>
							</h1>
							<p class="font-bold spacing pt-3">HOURS</p>
						</div>
						<div class="col-lg-4 col-md-4">
							<hr class="white mx-5">
							<h1 class="display-4 font-bold white-text">
								<strong>35</strong>
							</h1>
							<hr class="white mx-5">
							<p class="font-bold spacing">MINS</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<section class="section" id="products">
				<h1 class="text-center font-bold mt-5 pt-5 mb-3 wow fadeIn" data-wow-delay="0.2s">
					<em>Our products</em>
				</h1>
				<p class="text-center font-up grey-text font-bold mb-5 pb-4 wow fadeIn" data-wow-delay="0.2s">The best coffee and food</p>
				<div class="row">
					<div class="col-md-12 col-lg-5 mb-5">
						<h5 class="font-bold dark-grey-text">Regular Coffee</h5>
						<div class="row pb-2">
							<div class="col-md-6">
								<p class="mb-0 grey-text">Lorem ipsum dolor sit</p>
							</div>
							<div class="col-md-6 text-right">
								<p class="mb-0 dark-grey-text font-bold">$13</p>
							</div>
						</div>
						<hr>
						<h5 class="font-bold dark-grey-text pt-2">Americano</h5>
						<div class="row pb-2">
							<div class="col-md-6">
								<p class="mb-0 grey-text">Lorem ipsum dolor sit</p>
							</div>
							<div class="col-md-6 text-right">
								<p class="mb-0 dark-grey-text font-bold">$15</p>
							</div>
						</div>
						<hr>
						<h5 class="font-bold dark-grey-text pt-2">Cappuccino</h5>
						<div class="row pb-2">
							<div class="col-md-6">
								<p class="mb-0 grey-text">Lorem ipsum dolor sit</p>
							</div>
							<div class="col-md-6 text-right">
								<p class="mb-0 dark-grey-text font-bold">$18</p>
							</div>
						</div>
						<hr>
						<h5 class="font-bold dark-grey-text pt-2">Vanila Latte</h5>
						<div class="row pb-2">
							<div class="col-md-6">
								<p class="mb-0 grey-text">Lorem ipsum dolor sit</p>
							</div>
							<div class="col-md-6 text-right">
								<p class="mb-0 dark-grey-text font-bold">$21</p>
							</div>
						</div>
						<hr>
						<h5 class="font-bold dark-grey-text pt-2">Caramel Latte</h5>
						<div class="row pb-2">
							<div class="col-md-6">
								<p class="mb-0 grey-text">Lorem ipsum dolor sit</p>
							</div>
							<div class="col-md-6 text-right">
								<p class="mb-0 dark-grey-text font-bold">$17</p>
							</div>
						</div>
						<hr>
						<h5 class="font-bold dark-grey-text pt-2">Mocha</h5>
						<div class="row pb-2">
							<div class="col-md-6">
								<p class="mb-0 grey-text">Lorem ipsum dolor sit</p>
							</div>
							<div class="col-md-6 text-right">
								<p class="mb-0 dark-grey-text font-bold">$25</p>
							</div>
						</div>
						<hr>
					</div>
					<div class="col-md-12 col-lg-7">
						<div class="gallery" id="gallery">
							<div class="row">
								<div class="col-6 mb-3 pics animation all 2">
									<img class="img-fluid mb-4 rounded adminEdition" src="https://mdbootstrap.com/img/Photos/Others/images/34.jpg" alt="Card image cap">
									<img class="img-fluid rounded adminEdition" src="https://mdbootstrap.com/img/Photos/Vertical/1.jpg" alt="Card image cap">
								</div>
								<div class="col-6 pics animation all 1">
									<img class="img-fluid mb-4 rounded adminEdition" src="https://mdbootstrap.com/img/Photos/Vertical/2.jpg" alt="Card image cap">
									<img class="img-fluid rounded adminEdition" src="https://mdbootstrap.com/img/Photos/Others/images/35.jpg" alt="Card image cap">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<hr class="wow fadeIn" data-wow-delay="0.4s">
			<section class="section map-section" id="testimonials">
				<h1 class="text-center font-bold mt-5 pt-5 mb-3 wow fadeIn" data-wow-delay="0.2s">
					<em>Our restaurants</em>
				</h1>
				<div id="map"></div>
			</section>
			<div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-full-height modal-right" role="document">
					<div class="modal-content">
						<div class="modal-header success-color">
							<h5 class="modal-title text-white" id="exampleModalLabel">Modify an element</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="col-xl-12 mr-auto col-lg-12 wow fadeIn" data-wow-delay="0.4s">
								<div id="showText"></div>
								<img id="editionPicture" src="#" class="img-fluid rounded z-depth-1-half" alt="My photo">
								<textarea type="text" id="editionText" class="md-textarea md-textarea-auto form-control" rows="7"></textarea>
							</div>
							<div class="col-xl-12 mr-auto col-lg-12 wow fadeIn" data-wow-delay="0.4s">
								<br>
								<form>
									<div class="md-form">
										<div id="file-field" class="file-field">
											<div class="btn btn-secondary btn-sm float-left">
												<span>Choose file</span>
												<input id="inputFile" type="file">
											</div>
											<div class="file-path-wrapper">
												<input class="file-path validate" type="text" placeholder="Upload your file">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button id="saveValidFile" type="button" class="btn btn-success">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
{% endblock %}